/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
/.idea
.DS_Store


node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/
.env
package-lock.json
yarn.lock
pnpm-lock.yaml
